@import '~nav-frontend-core/less/_variabler';

.del-mal {
    background-color: @white;
    text-align: initial;
    margin: 1rem 0;
    border: 1px solid @navGra20;
    border-radius: 5px;
    padding: 1.5rem 2rem 1rem 2rem;

    &-tittel {
        margin-bottom: 0.5rem;
    }

    .hoyre {
        float: right;
    }

    .hjelpetekst-info {
        display: flex;
        color: @navBla;
        justify-content: flex-end;
        z-index: 1;
        position: relative;
        top: 1.75rem;
        margin-top: -1.75rem;

    }

    .hjelpetekst-maal-tittel {
        display: inline-block;
    }
    .hjelpetekst-maal-list {
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0 2rem 1rem 0;
    }
    .hjelpetekst-maal-list-item {
        display: list-item;
        list-style-type: disc;
        margin-left: 2rem;
    }

    .skjemaelement__input {
        border-color: @navGra20;
    }

}
