@import '../../../node_modules/nav-frontend-core/less/_variabler';

.del-mal {
    text-align: initial;
    width: 780px;
    margin: 1rem auto 0;
    background-color: @white;
    border-radius: 5px;
    padding: 2rem;

    &-tittel {
        margin-bottom: 0.5rem;
    }
    &-beskrivelse {
        margin-bottom: 1rem;
    }

    &-knapp {
        color: @navBlaLighten20;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
    }
}


@media (min-width: @screen-sm-min) {
  .del-mal {

  }
}