@import '~nav-frontend-core/less/_variabler';

.hovedmal {
  text-align: initial;

  .lenke-element {
    display: flex;
    justify-content: space-between;
  }
}

.feil {
  color: @redError;
  margin: 0 1rem;
}