@import '~nav-frontend-core/less/_variabler';

.mal-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: @navGronnLighten80;

  .knappegruppe {
    display: flex;
    justify-content: flex-end;
  }
}
