@import '~nav-frontend-core/less/_variabler';

.mal-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: @navGronnLighten80;

  .knappegruppe {
    display: flex;
    justify-content: flex-end;
  }

  .lenke-knapp {
    color: @navBlaLighten20;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

}


@media (min-width: @screen-sm-min) {
  .mal-container {
      border-radius: 5px;
      width: 710px;
      margin: 1rem auto;
  }
}