@import '../../../node_modules/nav-frontend-core/less/_variabler';

.mal-container {
    background-color: @navGronnLighten60;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}


@media (min-width: @screen-sm-min) {
  .mal-container {
      padding-top: 2rem;
      padding-bottom: 3rem;
  }
}