@import '../../../node_modules/nav-frontend-core/less/_variabler';

.grunnpanel {
  text-align: initial;
  margin: 1rem;
}

.grunnpanel--harFeil {
  border-color: @redError;
  background-color: @pinkErrorBg;
}

@media (min-width: @screen-sm-min) {
  .grunnpanel {
    margin: 1rem auto 0;
    width: 710px;
  }

}
