@import '~nav-frontend-core/less/_variabler';

.mal-banner {
  margin: 1rem;
  background-color: @navDypBlaLighten80;
  padding: 1rem;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-beskrivelse {
    width: 23rem;
  }

  &-lukkknapp {
    align-self: start;
  }

  svg {
    margin-left: -1rem;
  }

}


@media (min-width: @screen-sm-min) {
  .mal-banner {
    margin: 0 auto 0;
    width: 710px;
  }
}
